In [1]:
import pandas as pd
import json

In [29]:
with open('data.json') as f:
    data = json.load(f)

In [44]:
df = pd.json_normalize(data,'txs',[['user','id'],['user','name'],['user','email']],errors='ignore')
df.head(20)

   id     tx_date  tx_amount tx_type user.id user.name        user.email
0   1  2020-01-01         10     buy       1      agus  agus@example.com
1   3  2020-02-01         10     buy       1      agus  agus@example.com
2   5  2020-03-01         20    sell       1      agus  agus@example.com
3   2  2020-01-01         10    sell       2      asep  asep@example.com
4   4  2020-02-01         10    sell       2      asep  asep@example.com
5   6  2020-03-01         20     buy       2      asep  asep@example.com

In [56]:
soal_1 = df[['user.id','id']].set_index('user.id').to_csv('1.csv')

In [52]:
soal_2 = df[['user.id','user.name','user.email']].drop_duplicates().reset_index(drop=True).set_index('user.id')
soal_2.to_csv('2.csv')

In [58]:
soal_3 = df[['id','tx_date','tx_amount','tx_type']].sort_values('id').set_index('id').to_csv('3.csv')